{% extends 'admin_app/base.html' %}
{% block content %}

{% include 'admin_app/nav.html' %}

<div class="jumbotron">
    <img src="{{ User.profile.photo.url }}" style="border-radius: 50%; float: right;" width="350" height="350">
    <h1>{{ User.username }}</h1>

    <i class="fas fa-at"></i><a href="mailto:{{ profile.email }}"> {{ User.email }} </a>
    <address class="adress">
        <i class="fas fa-phone"></i><a href="tel:+221{{ profile.profile.tel }}{"> +221 {{ User.profile.tel }}</a>
    </address>
</div>

    <div class="card-columns h-auto">
        {% for annonce in annonces %}
<div class="card bg-light">
    <img class="card-img-top" src="{{ annonce.photo.url }}" alt="no_image_yet">
    <div class=" card-body">
        <h5 class="card-title">{{ annonce.titre }}</h5>
        <p>Categorie : {{ annonce.categorie }}</p>
        <p class="card-text">{{ annonce.description }}</p>
        <h3 class="card-header bg-info">{{ annonce.prix }} FCFA</h3>
    </div>
    <div class="card-footer">
        <small class="text-muted">{{ annonce.date_ajout }}</small>
    </div>
</div>
{% endfor %}
</div>
</div>
{% endblock %}